{% extends "base.html" %}

{% block content %}
<div class="container bg-custom my-4 py-4">
    <div class="row">
        <div class="col-md-8">
            <h1>Booking Confirmation</h1>
            <p>Please review your booking details:</p>
            <ul>
                <li>Booking Date: {{ booking.booking_date }}</li>
                <li>Booking Time: {{ booking.booking_time }}</li>
                <li>Booking Comments: {{ booking.booking_comments }}</li>
                <li>Number of Guests: {{ booking.guest_num }}</li>
            </ul>
            <div class="d-flex" >
                <form action="{% url 'confirm_booking' booking.booking_id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-success mx-2" name="confirm" type="submit">Confirm</button>
                </form>
                <form action="{% url 'edit_booking' booking.booking_id %}" method="get">
                    <button class="btn btn-primary" type="submit">Edit Booking</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}