{% extends "base.html" %}

{% block content %}

<div class="container bg-custom mt-4">
    <div class="row">
        <div class="col-12 my-2 text-center">
            <h3>-- The best fusion of Thai and Mexican food.-- </h3>
            <img class="w-90 mx-auto img-fluid" id="banner"
                src="https://res.cloudinary.com/ddlpzob1s/image/upload/v1698682001/ctp8upksdcvry1yjsnpj.jpg"
                alt="index_banner">
        </div>
    </div>
</div>
<div class="container bg-none my-3">
    <div class="row justify-content-center bg-none">
        <div class="col-12 mx-18">
            <button class="btn btn-warning custom-btn mx-2" onclick="location.href = '/menu/';" >Menu</button>
            <button class="btn btn-warning custom-btn mx-3" onclick="location.href = '/booking/';">Booking</button>
            {% if user.is_authenticated and user.user_bookings.all %}
            <button class="btn btn-warning custom-btn mx-2" onclick="location.href = '#';">Check your bookings</button>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}