{% extends "base.html" %}

{% block content %}

<div class="container bg-custom my-4 py-4">
    <div class="row">
        <h2>Map</h2>
        <div class="col-xl-6 col-lg-12">
            <div class="embed-responsive embed-responsive-4by3 h-100 min-height">
                <iframe class="embed-responsive-item w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1191.0382371120124!2d-6.263668836719013!3d53.34188723351515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9c454d23b5%3A0xc916b2bd503fcc6e!2s47%20Drury%20St%2C%20Dublin%202%2C%20D02%20K753!5e0!3m2!1ses!2sie!4v1699276414331!5m2!1ses!2sie"
                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <h4>Restaurant address:</h4>
            <p>47 Drury St, Dublin 2, D02 K753</p>
            <h4>Email:</h4>
            <a href="mailto:bakalarrest@gmail.com">bakalarrest@gmail.com</a>
            <h4>Phone number:</h4>
            <p>55 555 345 2126</p>
        </div>
    </div>
</div>

{% endblock %}